*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INDICATOR SCROLL */

#scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 7.5px;
    background-color: #760a0a;
    z-index: 30;
}

/* SLIDER */

.slider-container {
    position: relative;
    width: 70%;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    position: relative;
}

.slide img {
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.slider .slide .title-slider {
    position: absolute;
    left: 25px;
    bottom: 70px;
    font-family: "Cinzel", arial;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.slider .slide .description-slider {
    position: absolute;
    left: 23px;
    bottom: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.slider .slide .link-slider {
    position: absolute;
    right: 17.5px;
    bottom: 10px;
    font-family:"Cinzel";
    font-size: 18px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    color: #760a0a;
    transition: 0.3s ease-out;
}

.slide .link-slider:hover {
    right: 12.5px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    transition: 0.3s ease-out;
}

.slider .slide .link-slider span {
    font-size: 20px;
}

/* MAP & INFORMATIONS */

.map-news {
    display: flex;
    padding: 0 10px 0 20px;
    gap: 20px;
}

/* MAP */

.container-map {
    width: 77.5%;
    display: flex;
}

.box-map:nth-child(1) {
    width: 75%;
}

.box-map:nth-child(2) {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.box-map:nth-child(2) h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #760a0a;
}

.box-map:nth-child(2) button {
    padding: 20px 7.5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-radius: none;
    background: #fff;
    color: #760a0a;
    border-bottom: 1px solid #760a0a;
    border-left: none;
    border-right: 1.5px solid #760a0a;
    border-top: none;
}

.box-map:nth-child(2) button.active {
    font-size: 19px;
    background: #760a0a;
    color: #fff;
    border: 1px solid #760a0a;
}

.box-map:nth-child(2) button.active::before {
    content: '«   ';
}

iframe {
   border-width: 0px;
   border-bottom: 1.5px solid #760a0a;
}

/* INFORMATIONS */

.informations {
    width: 22.5%;
    height: 353px;
    border-left: 1.5px solid #760a0a;
}

.informations h2 {
    color:#760a0a;
    text-align: center;
    font-family: "Cinzel", arial;
}

.informations ul {
    margin-left: 25px;
    font-size: 18px;
    line-height: 1.5em;
    color: #760a0a;
}

.informations ul li {
    list-style-type: "»  ";
}

.informations ul li a {
    text-decoration: underline;
    color: #760a0a;
    position: absolute;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.informations ul li a:hover {
    text-decoration: underline dotted;
    transform: translateX(5px);
    transition: transform 0.3s ease-out;
}

/* NEWS */

.news {
    margin-top: 50px;
    padding: 20px;
}

.news h2 {
    color: #760a0a;
    font-family: "Cinzel", arial;
    margin-bottom: 15px;
}

.container-news {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px 70px;
    justify-content: center;
    align-items: center;
}

.box-news {
    width: 300px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-news img {
    width: 300px;
    object-fit: cover;
    height: auto;
    max-height: 150px;
    border-bottom: 2px solid #760a0a;
}

.box-news h3 {
    color: #760a0a;
    text-align: center;
    padding: 0 2px;
    margin-bottom: 2px;
}

.box-news p {
    color: #aaa;
    font-size: 15px;
    padding: 4px 5px;
    text-align: justify;
    margin-bottom: 5px;
}

.box-news button {
    text-decoration: none;
    color: #760a0a;
    background: #fff;
    outline: 1px solid #760a0a;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 17px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: #fff;
        background: #760a0a;
        outline: none;
        border-radius: 10px;
        transition: 0.3s;
    }
}

.box-news small {
    display: block;
    color: #ddd;
    text-align: right;
    margin: 5px 4px 0 0;
}

.hidden {
    display: none;
}

button.news {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 7.5px 0;
    font-size: 17px;
    background: #760a0a;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1.2px;
    border-radius: 5px;
    font-family: "Cinzel";
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

button.news:hover {
    width: 50%;
    background: #fff;
    color: #760a0a;
    outline: 1px solid #760a0a;
    border-radius: 7.5px;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

/* ACTIVITES */

.activities {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.activities h2 {
    color: #760a0a;
    font-family: "Cinzel", arial;
    margin-bottom: 15px;
}

.box-activitie {
    height: 250px;
    position: relative;
    padding: 5px 15px 5px 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.box-activitie img {
    width: 25%;
    height: 240px;
    float: left;
    padding: 5px;
    border: 1.5px dashed #760a0a;
    transition: 0.3s;

    &:hover {
        padding: 0;
        transition: 0.3s;
        border: none;
        border-radius: 5px;
    }
}

.title-activitie {
    color: #760a0a;
    transform: translateX(10px);
    text-transform: uppercase;
}

.description-activitie {
    margin-top: 15px;
    transform: translateX(15px);
    color: #760a0a;
}

.link-activitie {
    padding: 10px 15px;
    border-radius: 50px;
    color: #760a0a;
    text-decoration: none;
    font-size: 17px;
    outline: 1.5px solid #760a0a;
    position: absolute;
    right: 20px;
    bottom: 15px;
    transition: 0.2s;

    &:hover {
        color: #fff;
        background: #760a0a;
        transition: 0.2s;
    }
}

/* AGENDA */

.agenda h2 {
    color: #760a0a;
    font-family: "Cinzel", arial;
    margin-bottom: 15px;
    padding-left: 20px;
}

.month-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.month-btn {
    font-size: 17px;
    color: #fff;
    background: #760a0a;
    border-top: 1.5px solid #760a0a;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #760a0a;
    outline: none;
    height: 40px;
    width: calc(100% / 12);
    cursor: pointer;
    transition: 0.2s;
}

.month-btn.active {
    font-size: 18px;
    color: #760a0a;
    background: #fff;
    border-top: 1.5px solid #760a0a;
    border-left: 1.5px solid #760a0a;
    border-right: 1.5px solid #760a0a;
    border-bottom: none;
    pointer-events: none;
    font-weight: bold;
}

.month-btn:hover {
    background-color: #760a0aac;
}

.month-content {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto 50px auto;
    border: 1.5px solid #760a0a;
    border-top: none;
    padding: 20px 10px;
    position: relative;
}

.month-box {
    display: none;
    flex-wrap: wrap;
    gap: 20px 25px;
    justify-content: center;
}

.month-box.active {
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 150px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.flip-card-front {
    background-color: #fff;
    color: #760a0a;
}

.flip-card-back {
    background-color: #760a0a;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    text-align: justify;
}

.info-card {
    position: absolute;
    right: 10px;
    bottom: 0.5px;
    font-size: 15px;
    color: grey;
}

/* HISTOIRE */

.histoire {
    padding: 20px;
    color: #760a0a;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.histoire h2 {
    color: #760a0a;
    font-family: "Cinzel", arial;
    margin-bottom: 15px;
    padding-left: 20px;
}

/* CONTACT */

.contact {
    padding: 20px;
}

.contact h2 {
    color: #760a0a;
    font-family: "Cinzel", arial;
    margin-bottom: 15px;
}

form {
    padding: 20px 30px 20px 0;
    width: 600px;
    position: relative;
    margin: 0 auto;
    caret-color: #760a0a;
}
  
.form-group {
    position: relative;
    margin-bottom: 20px;
}
  
.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #760a0a;
    border-radius: 2.5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background: transparent;
    color: #760a0a;
}
  
.form-group input:focus {
    border-radius: 4px;
    border: 1.5px solid #760a0a;
}
  
.form-group label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    padding: 0 7.5px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #aaa;
    font-size: 16px;
    border-left: 1px solid #ccc;
    line-height: 1.2em;
}
  
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    color: #760a0a;
    font-size: 15px;
    font-weight: 450;
    top: 65%;
    left: 10px;
    border-left: none;
    background-color: #fff;
    transform: translateY(-200%);
}
  
.form-group .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

label {
    color: #760a0a;
}
  
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #760a0a;
    border-radius: 2.5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background: transparent;
    color: #760a0a; 
    height: 125px;
    margin-bottom: 20px;
    &:focus {
        border: 1.5px solid #670a0a;
        border-radius: 4px;
    }
}
  
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #760a0a;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.4s ease;
    outline: 1px solid #760a0a;
}
  
button[type="submit"]::after {
    content: "";
    transition: 0.4s ease;
}
  
button[type="submit"]:hover::after {
    content: "→";
    margin-left: 10px;
    transition: 0.4s ease;
}
  
button[type="submit"]:hover {
    background-color: #760a0a;
    transition: background-color 0.4s ease;
    color: #fff;
}

.popup {
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0);
    color: #fff;
    font-size: 17px;
    width: 40%;
    text-align: center;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 13;
    transition: top 0.5s ease-in-out;
}

.popup.show {
    display: block;
    top: 50px;
}

.popup.hide {
    top: -200px;
}















/* REPONSIVE */
@media screen and (max-width: 1000px) {
    .slider-container {
        width: 90%;
    }
    .slide {
        min-width: 100%;
        height: 300px;
        font-size: 1.6rem;
    }
    .arrow {
        font-size: 1.8rem;
    }
    .slider .slide .title-slider {
        left: 20px;
        bottom: 50px;
    }
    .slider .slide .description-slider {
        display: none;
    }
    .slider .slide .link-slider {
        position: absolute;
        right: 17.5px;
        bottom: 10px;
        font-family:"Cinzel";
        font-size: 18px;
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        color: #760a0a;
        transition: 0.3s ease-out;
    }   
    .slide .link-slider:hover {
        right: 12.5px;
        background: rgba(255, 255, 255, 0.9);
        font-weight: bold;
        transition: 0.3s ease-out;
    }
    .slider .slide .link-slider span {
        font-size: 20px;
    }
    .map-news {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        gap: 20px;
    }
    .container-map {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .box-map:nth-child(1) {
        width: 100%;
    }
    .box-map:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box-map:nth-child(2) h2 {
        margin-bottom: 10px;
    }
    .box-map:nth-child(2) button {
        padding: 8px 7.5px;
        font-size: 17px;
        border-bottom: 1px solid #760a0a;
        border-right: 1.5px solid #760a0a;
        border-left: 1.5px solid #760a0a;
        border-top: none;
    }
    .box-map:nth-child(2) button.active {
        font-size: 18px;
        background: #760a0a;
        color: #fff;
        border: 1px solid #760a0a;
    }
    .box-map:nth-child(2) button.active::before {
        content: '▼   ';
    }
    .informations {
        width: 100%;
        height: auto;
    }
    .informations ul {
        font-size: 17px;
        line-height: 1.4em;
    }
    .news {
        margin-top: 30px;
        padding: 10px;
    }
    .news h2 {
        font-size: 20px;
        padding-left: 10px;
    }  
    .container-news {
        display: grid;
        grid-template-columns: 300px;
        gap: 20px 0;
    }
    .box-news {
        width: 300px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    }   
    button.news {
        width: 50%;
    }
    button.news:hover {
        width: 70%;
    }
    .activities {
        padding: 10px;
    }
    .activities h2 {
        margin-bottom: 12.5px;
    }
    .box-activitie {
        height: auto;
        padding: 5px 7.5px 5px 5px;
    }
    .box-activitie img {
        width: 100%;
        height: auto;
        float: top;
        padding: 5px;
        border: 1.5px dashed #760a0a;
        transition: 0.3s;
    
        &:hover {
            padding: 0;
            transition: 0.3s;
            border: none;
            border-radius: 5px;
        }
    }
    .title-activitie {
        transform: translateX(7.5px);
    }
    .description-activitie {
        transform: translateX(10px);
        font-size: 15px;
        margin-bottom: 45px;
    }
    .link-activitie {
        padding: 7.5px 10px;
        font-size: 16px;
        right: 15px;
        bottom: 10px;
    
        &:hover {
            color: #fff;
            background: #760a0a;
            transition: 0.2s;
        }
    }
    .month-buttons {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .month-btn {
        font-size: 16px;
        border: none;
        height: 30px;
        width: 100%;
    }
    .month-btn.active {
        font-size: 17px;
        border-top: none;
        border-left: 1.5px solid #760a0a;
        border-right: 1.5px solid #760a0a;
    }
    .flip-card {
        height: 250px;
    }
    .flip-card-back {
        padding: 7.5px;
        text-align: left;
    }
    .info-card {
        font-size: 14px;
    }
    .histoire {
        padding: 10px;
    }
    .contact {
        padding: 10px;
    }
    form {
        padding: 10px 0;
        width: 300px;
    }
    .popup {
        font-size: 16px;
        width: 90%;
        text-align: center;
        padding: 10px 15px;
    } 
    .popup.show {
        display: block;
        top: 70px;
    }
}